.modal {
    background-color: rgb(239, 111, 111);
    width: 650px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, -50%);
    margin-top: 45px;
}

.cross-icon {
    font-size: 28px;
    color: white;
    float: right;
    margin-right: 10px;
    font-weight: bolder;
    cursor: pointer;

}